{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.flatland/ordered {:mvn/version "1.15.12"}}
 :aliases
 {:build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.4" :git/sha "c21cfde"}}
          :ns-default build}
  :test-clj {:extra-paths ["test"]
             :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.4.4"}
                           lambdaisland/kaocha           {:mvn/version "1.0.732"}
                           lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}}
  :test-cljs {:extra-paths ["test" "web-target"]
              :extra-deps  {com.widdindustries/tiado-cljs2
                            {:git/url "https://github.com/henryw374/tiado-cljs2.git"
                             :sha "fbd9f3b8df3523ccf11bbc685836ce7f96f18068"}}}}}
